<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head" />

<body>

	<header th:replace="layout/layout::header"></header>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="layout/layout::sidebar"></nav>

			<main id="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
			
				<h2>Ha ocurrido un error </h2>
			
	
			</main>
		</div>
	</div>


	<footer th:replace="layout/layout::footer"></footer>

</body>

</html>